[project]
name = "headpat"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "cryptography>=46.0.3",
    "pyuepak>=0.2.5",
]

[dependency-groups]
dev = [
    "ruff>=0.14.14",
]
